/.fleet
/.idea
/.vagrant
/.vscode
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
app/storage/                    # Laravel 4 specific
bootstrap/compiled.php          # Laravel 4 specific
node_modules/
npm-debug.log
npm-debug.log
/public/build
/public/hot
/public/storage
public/hot
public/storage
public_html/hot
public_html/storage
/storage/*.key
vendor
yarn-error.log
yarn-error.log